<section class="bg-primary" id="imza">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Kampanyayı İmzala!</h2>
                <hr class="light">
                <p class="text-faded">Gelişmekte olan ülkemizin modern bir internet altyapısına sahip olması için başlattığımız bu kampnayaya sende imzalayarak desktek olabilirsin.</p>
                <a href="https://www.change.org/p/internette-kotaya-hay%C4%B1r" target='_blank' class="btn btn-default btn-xl">Change.org</a>
            </div>
        </div>
    </div>
</section>
